body {
    background-color: #043A82;
}
img {
    width: 7%;
    height: 7%;
    display: block;
    margin-left: auto;
    margin-right: auto; 
}
.grid-container {
    display: grid;
    grid-template-rows: 50vh auto;
    row-gap: 3vh;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
}

.form-group1 {
    grid-row: 1;
    grid-column: 1;
}

.form-group2 {
    grid-row: 2;
    grid-column: 1;
}
.form-group3 {
    grid-row: 3;
    grid-column: 1;
}
.form-group4 {
    grid-row: 4;
    grid-column: 1;
}
.form-group5 {
    grid-row: 1 /span2;
    grid-column: 2;
}
.form-group6 {
    grid-row: 3/span2;
    grid-column: 2;
}

textarea {
    height: 15vh;
    width: 35vw;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.3vw;
}

label {
    font-size: 1.5vw;
    color: white;
}

p {
    font-size: 1.5vw;
    color: white;
}

input {
    height: 3vh;
    width: 35vw;
    font-size: 1.3vw;
}

button {
    height: 5vh;
    font-size: 2.5vh;
    color: #043A82;
    font-weight: bold;
}

.w3-container {
    outline: 2px solid;
    height: auto;
    outline-color: white;
}

#result {
    font-size: 1.3vw;
    padding: 2px;
}

h1 {
    text-align: center;
    margin-top: 0;
    color: white;
}


/*following code for .loading-spinner and @keyframes spin from https://loading.io/css/*/
#loading-spinner {
margin-top: 3vh;
display: inline-block;
position: relative;
width: 5vw;
height: 5vw;
display: none;
margin-left: auto;
margin-right: auto; 
}
#loading-spinner div {
animation: loading-spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
transform-origin: 40px 40px;
}
#loading-spinner div:after {
content: " ";
display: block;
position: absolute;
width: 7px;
height: 7px;
border-radius: 50%;
background: #fff;
margin: -4px 0 0 -4px;
}
#loading-spinner div:nth-child(1) {
animation-delay: -0.036s;
}
#loading-spinner div:nth-child(1):after {
top: 63px;
left: 63px;
}
#loading-spinner div:nth-child(2) {
animation-delay: -0.072s;
}
#loading-spinner div:nth-child(2):after {
top: 68px;
left: 56px;
}
#loading-spinner div:nth-child(3) {
animation-delay: -0.108s;
}
#loading-spinner div:nth-child(3):after {
top: 71px;
left: 48px;
}
#loading-spinner div:nth-child(4) {
animation-delay: -0.144s;
}
#loading-spinner div:nth-child(4):after {
top: 72px;
left: 40px;
}
#loading-spinner div:nth-child(5) {
animation-delay: -0.18s;
}
#loading-spinner div:nth-child(5):after {
top: 71px;
left: 32px;
}
#loading-spinner div:nth-child(6) {
animation-delay: -0.216s;
}
#loading-spinner div:nth-child(6):after {
top: 68px;
left: 24px;
}
#loading-spinner div:nth-child(7) {
animation-delay: -0.252s;
}
#loading-spinner div:nth-child(7):after {
top: 63px;
left: 17px;
}
#loading-spinner div:nth-child(8) {
animation-delay: -0.288s;
}
#loading-spinner div:nth-child(8):after {
top: 56px;
left: 12px;
}
@keyframes loading-spinner {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}